.slots{
    display: flex;
    gap: 5em;
}
html{
    font-family: "zilla slab";
    background: lightgray;
}
.playSlots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border: 1px solid black;
    background: lightseagreen;
    width: 50%;
    margin: 4em;
    height: 20em;
}
